{% extends 'base.html' %}

{% block title %}
  Iniciar Pago
{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Carrito de Compras</h2>
        </div>
        <div class="card-body">
          <p class="text-center lead">El costo del certificado de residencia es de $1000.</p>
          <form method="post" action="{% url 'iniciar_pago' %}">
            {% csrf_token %}
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg">
                  <i class="fas fa-dollar-sign"></i> Pagar con WebPay
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor de la alerta modal -->
<div id="alertContainer" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="alertMessage">Hubo un error al procesar la transacción. Por favor, inténtalo de nuevo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript para mostrar la alerta modal -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    // Obtener el parámetro 'error' de la URL
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');

    // Mostrar la alerta modal si hay un error
    if (error === '1') {
      $('#alertContainer').modal('show');
    }
  });
</script>
{% endblock content %}