{% extends 'base.html' %}

{% block title %}
  Iniciar Pago
{% endblock title %}

{% block content %}
<div class="container">
  <h1>Carrito de Compras</h1>
  <p>El costo del certificado de residencia es de $1000.</p>
  <form method="post" action="{% url 'iniciar_pago' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Pagar</button>
  </form>
</div>

<!-- Contenedor de la alerta modal -->
<div id="alertContainer" class="modal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Contenido de la alerta -->
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="alertMessage">Hubo un error al procesar la transacción. Por favor, inténtalo de nuevo.</p>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript para mostrar la alerta modal -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // Obtener el parámetro 'error' de la URL
  const urlParams = new URLSearchParams(window.location.search);
  const error = urlParams.get('error');

  // Mostrar la alerta modal si hay un error
  if (error === '1') {
    $('#alertContainer').modal('show');
  }
</script>
{% endblock content %}