{% extends 'base.html' %}
{% load static %}

{% block title %}
  Inicio
{% endblock title %}

{% block content %}
  {% if request.user.is_authenticated %}
    {% if es_admin %}
      <h2 class="mt-5">Bienvenido, Admin de Django</h2>
    {% elif es_directivo %}
      <h2 class="mt-5">Bienvenido, Directivo</h2>
    {% elif es_residente %}
      <h2 class="mt-5">Bienvenido, Residente</h2>
    {% else %}
      <h2 class="mt-5">Bienvenido, </h2>
    {% endif %}
  {% endif %}
  
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/slide1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/slide2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/slide3.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
{% endblock content %}
