{% extends 'base.html' %}

{% block title %}
  Pago Exitoso
{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Pago Exitoso</h1>
  <p class="lead text-center">Su pago se ha realizado con éxito. ¡Gracias por su compra!</p>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mb-3">
        <a href="{% url 'descargar_certificado' %}" class="btn btn-secondary btn-block">Descargar Certificado</a>
      </div>
    </div>
  </div>
</div>

<script>
  // Detectar el evento de cambio de página o cierre de la ventana
  window.onbeforeunload = function(event) {
    // Redirigir al usuario a la página certificados.html
    window.location.href = "{% url 'certificados' %}";
  };
</script>
{% endblock content %}
