{% extends 'base.html' %}

{% block title %}
    Proyectos
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'proyectos' in message.tags %}
                <div class="alert {% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% else %}alert-info{% endif %}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Proyectos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.fecha_creacion }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#verProyectoModal{{ proyecto.id }}">Ver</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarProyectoModal{{ proyecto.id }}">Editar</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarProyectoModal{{ proyecto.id }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearProyectoModal">
        Crear Proyecto
    </button>

    <!-- Modal para crear un nuevo proyecto -->
    <div class="modal fade" id="crearProyectoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Proyecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'crear_proyecto' %}">
                        {% csrf_token %}
                        <!-- Nombre -->
                        <div class="form-group">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                            <small class="form-text text-muted">Nombre: Máximo 100 caracteres.</small>
                            <small id="nombreCounter" class="form-text text-muted">0 / 100</small>
                        </div>
                        <!-- Descripción -->
                        <div class="form-group">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion }}
                            <small class="form-text text-muted">Descripción: Máximo 500 caracteres.</small>
                            <small id="descripcionCounter" class="form-text text-muted">0 / 500</small>
                        </div>
                        <!-- Presupuesto -->
                        <div class="form-group">
                            {{ form.presupuesto.label_tag }}
                            {{ form.presupuesto }}
                        </div>
                        <!-- Cupos -->
                        <div class="form-group">
                            {{ form.cupos.label_tag }}
                            {{ form.cupos }}
                        </div>
                        <!-- Disponible -->
                        <div class="form-check">
                            <input type="checkbox" id="id_disponible" name="disponible" {% if proyecto.disponible %}checked{% endif %} class="form-check-input">
                            <label class="form-check-label" for="id_disponible">Disponible</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Crear Proyecto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar proyecto -->
    {% for proyecto in proyectos %}
    <div class="modal fade" id="eliminarProyectoModal{{ proyecto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Proyecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar este proyecto?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'eliminar_proyecto' proyecto.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="delete_proyecto" value="{{ proyecto.id }}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal para ver detalles del proyecto y postulaciones -->
    {% for proyecto in proyectos %}
    <div class="modal fade" id="verProyectoModal{{ proyecto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ proyecto.nombre }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Nombre:</strong> {{ proyecto.nombre }}</p>
                    <p><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
                    <p><strong>Presupuesto:</strong> {{ proyecto.presupuesto }}</p>
                    <p><strong>Cupos:</strong> {{ proyecto.cupos }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ proyecto.fecha_creacion }}</p>
                    <h5>Postulaciones:</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Postulante</th>
                                <th>Detalle</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for postulacion in proyecto.postulaciones.all %}
                            <tr>
                                <td>{{ postulacion.usuario.get_full_name }}</td>
                                <td>{{ postulacion.detalle }}</td>
                                <td>{{ postulacion.estado }}</td>
                                <td>
                                    <form method="post" action="{% url 'cambiar_estado_postulacion' postulacion.id %}">
                                        {% csrf_token %}
                                        <button type="submit" name="estado" value="aceptado" class="btn btn-success">Aprobar</button>
                                        <button type="submit" name="estado" value="rechazado" class="btn btn-danger">Rechazar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal para editar proyectos -->
    {% for proyecto in proyectos %}
    <div class="modal fade" id="editarProyectoModal{{ proyecto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Proyecto: {{ proyecto.nombre }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'editar_proyecto' proyecto.id %}">
                        {% csrf_token %}
                        <!-- Nombre -->
                        <div class="form-group">
                            <label for="id_nombre">Nombre:</label>
                            <input type="text" id="id_nombre" name="nombre" value="{{ proyecto.nombre }}" class="form-control" maxlength="100" required>
                            <small class="form-text text-muted">Nombre: Máximo 100 caracteres.</small>
                            <small id="nombreCounter{{ proyecto.id }}" class="form-text text-muted">{{ proyecto.nombre|length }} / 100</small>
                        </div>
                        <!-- Descripción -->
                        <div class="form-group">
                            <label for="id_descripcion">Descripción:</label>
                            <textarea id="id_descripcion" name="descripcion" class="form-control" maxlength="500" required>{{ proyecto.descripcion }}</textarea>
                            <small class="form-text text-muted">Descripción: Máximo 500 caracteres.</small>
                            <small id="descripcionCounter{{ proyecto.id }}" class="form-text text-muted">{{ proyecto.descripcion|length }} / 500</small>
                        </div>
                        <!-- Presupuesto -->
                        <div class="form-group">
                            {{ form.presupuesto.label_tag }}
                            {{ form.presupuesto }}
                        </div>
                        <!-- Cupos -->
                        <div class="form-group">
                            <label for="id_cupos">Cupos:</label>
                            <input type="number" id="id_cupos" name="cupos" value="{{ proyecto.cupos }}" class="form-control" min="0" required>
                        </div>
                        <!-- Disponible -->
                        <div class="form-check">
                            <input type="checkbox" id="id_disponible" name="disponible" {% if proyecto.disponible %}checked{% endif %} class="form-check-input">
                            <label class="form-check-label" for="id_disponible">Disponible</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Script para actualizar contadores de caracteres -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var nombreInput = document.querySelector('input[name="nombre"]');
            var descripcionInput = document.querySelector('textarea[name="descripcion"]');
            var nombreCounter = document.getElementById("nombreCounter");
            var descripcionCounter = document.getElementById("descripcionCounter");

            // Actualizar contador de caracteres para nombre al inicio
            var initialNombreLength = nombreInput.value.length;
            nombreCounter.textContent = initialNombreLength + " / 100";

            // Event listener para nombre
            nombreInput.addEventListener("input", function() {
                var length = nombreInput.value.length;
                if (length > 100) {
                    nombreInput.value = nombreInput.value.substring(0, 100);
                    length = 100;  // Ajustar la longitud si se recortó el valor
                }
                nombreCounter.textContent = length + " / 100";
            });

            // Event listener para descripción
            descripcionInput.addEventListener("input", function() {
                var length = descripcionInput.value.length;
                if (length > 500) {
                    descripcionInput.value = descripcionInput.value.substring(0, 500);
                    length = 500;  // Ajustar la longitud si se recortó el valor
                }
                descripcionCounter.textContent = length + " / 500";
            });
        });
    </script>

{% endblock content %}
