{% extends 'base.html' %}

{% block title %}
  Registro
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h3>Solicitud de Inscripcion de Residente</h3>
        </div>
        <div class="card-body">
          
          <!-- Mostrar mensajes de éxito -->
          {% if messages %}
            {% for message in messages %}
              {% if 'registro' in message.tags and 'success' in message.tags %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          
          <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in field.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <div class="text-center mt-5">
              <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
            </div>          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
